.selector{
    border: 3px solid red;
}

/*Selector universal Eliminar todos lso margenes*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}
/*selector clase
float y clear limpia margenes y cualquier otra cosa*/
.clear-fix{
    float: none;
    clear: both;
}

.format-bootstrap{
    height: 100px;
    color: white;
    text-align: center;
    font-size: 32px;
    padding-top: 20px;
}

h5{
    font-size: 3em;
}
.font{
    font-size: 1.5em;
    color: black;
}


